<% if(successMsg && successMsg.length){ %>
    <div class="alert alert-success alert-dismissible col-4 offset-4" role="alert">
        <%= successMsg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>
<% if(errorMsg && errorMsg.length){ %>
    <div class="alert alert-danger alert-dismissible col-4 offset-4" role="alert">
        <%= errorMsg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>