<% layout("layouts/boilerplate") %>
<body>
    <div class="alert alert-danger" role="alert">
       <center>
        <div><%= status %></div>
        <h1><%= message %></h1>
       </center>
    </div>
</body>