.container-sh{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    width:50%;
    margin: auto;
    margin-top: 7rem;
}
.content{
    width:60%;
    margin:auto;
}
img{
    width:100%;
    border-radius: 2rem;
}

.button a button{
    background-color: red;
    color: white;
    border-radius: 0.3rem;
    width: 3rem;
    height: 2rem;
}
.button a button:hover{
    background-color: white;
    color:black;
}
.show{
    display: inline;
}

.show-btn{
    background-color:black;
    color: white;
    border-radius: 0.3rem;
    width: 4rem;
    height: 2rem;
    text-align: center;
}

.card{
    padding: 0;
    margin: 1rem ;
    width: 30%;
}
.card form button{
    border:2px solid black;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 0.3rem;
    text-align: center;
    
}

.card form button:hover{
    color: black;
    background-color: white;
}