<% layout("/layouts/boilerplate.ejs") %>

    <body>
        <div class="col-6 offset-3">
            <h1>Login</h1><br>
            <form class="needs-validation" novalidate action="/login" method="post">
                <div class="mb-3">
                    <label class="form-label" for="username">Your Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                    <div class="invalid-feedback">
                        Please provide a valid Username.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password" required>
                    <div class="invalid-feedback">
                        Please provide a valid password.
                    </div>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </body>