<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="col-6 offset-3">
        <h1>SignUp</h1><br>
        <form class="needs-validation" novalidate action="/signup" method="post">
            <div class="mb-3">
                <label class="form-label" for="username">Your Username</label>
                <input type="text" class="form-control" id="username" name="user[username]"required>
                <div class="invalid-feedback">
                    Please provide a valid Username.
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="user[email]" aria-describedby="emailHelp" required>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                <div class="invalid-feedback">
                    Please provide a valid email.
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password"required>
                <div class="invalid-feedback">
                    Please provide a valid password.
                </div>
            </div>
            <button type="submit">SignUp</button>
        </form>
    </div>
</body>